/*@font-face {
  font-family: cromregular;
  src: url(font_files/crom_v1.ttf);
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
    font-family: 'cromregular';
    src: url('font_files/crom_v1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
