@font-face {
    font-family: 'crom-regular';
    src: url('crom_v1-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hamlet-regular';
    src: url('hamletregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wendregular';
    src: url('wend-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
